* {
    padding: 0;
    margin: 0;
}

/* --------------- [header style] ------------ */

.headerParent {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
}
.menuDiv {
    width: 22%;
    height: 20px;
    text-align: center;
    margin-top: 15px;
    margin-left: 150px;
}

.menuDiv span {
    padding-left: 10px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 17px;
    transition: 0.3s;
    cursor: pointer;
}
.menuDiv span:hover {
    color: #f7a6f2;
}
.nameDiv {
    width: 13%;
    height: 50px;
}
.nameDiv h2 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 35px;
}
.socialNetworkDiv {
    width: 17%;
    height: 20px;
    margin-top: 15px;
    margin-right: 190px;
}
.socialNetworkDiv span {
    padding-left: 10px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 17px;
    cursor: pointer;
}

/* ------------ advertising style ---------- */

.advertising {
    width: 90%;
    height: 680px;
    margin: 0 auto;
    margin-top: 20px;
}
.imageDiv {
    position: relative;
    width: auto;
    height: auto;

}
.advertising img {
    width: 100%;
    height: auto;
}
.presentation {
    position: absolute;
    width: 25%;
    height: 430px;
    left: 150px;
    top: 200px;
    overflow: hidden;
}
.presentation h1 {
    color: white;
    padding: 5px;
    font-size: 65px;
    font-family: 'Open Sans Condensed', sans-serif;
}
.presentation button {
    width: 130px;
    height: 40px;
    border: none;
    margin-top: 50px;
    cursor: pointer;
    transition: 0.3s;
}
.presentation button:hover {
    color: #f7a6f2;
}