* {
    padding: 0;
    margin: 0;
}

/* --------------- [header style] ------------ */

.headerParent {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
}
.menuDiv {
    width: 22%;
    height: 20px;
    text-align: center;
    margin-top: 15px;
    margin-left: 150px;
}

.menuDiv span {
    padding-left: 10px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 17px;
    transition: 0.3s;
    cursor: pointer;
}
.menuDiv span:hover {
    color: #f7a6f2;
}
.nameDiv {
    width: 13%;
    height: 50px;
}
.nameDiv h2 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 35px;
}
.socialNetworkDiv {
    width: 17%;
    height: 20px;
    margin-top: 15px;
    margin-right: 190px;
}
.socialNetworkDiv span {
    padding-left: 10px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 17px;
    cursor: pointer;
}

/* ------------ advertising style ---------- */

.advertising {
    width: 90%;
    height: 680px;
    margin: 0 auto;
    margin-top: 20px;
}
.imageDiv {
    position: relative;
    width: auto;
    height: auto;

}
.advertising img {
    width: 100%;
    height: auto;
}
.presentation {
    position: absolute;
    width: 25%;
    height: 430px;
    left: 150px;
    top: 200px;
    overflow: hidden;
}
.presentation h1 {
    color: white;
    padding: 5px;
    font-size: 65px;
    font-family: 'Open Sans Condensed', sans-serif;
}
.presentation button {
    width: 130px;
    height: 40px;
    border: none;
    margin-top: 50px;
    cursor: pointer;
    transition: 0.3s;
}
.presentation button:hover {
    color: #f7a6f2;
}

/* ------------popular Content style----------- */

.popularContentText {
    width: 600px;
    height: 100px;
    margin-top: 50px;
    margin: 0 auto;
    margin-top: 40px;
}
.popularContentText h1, h3 {
    text-align: center;
    padding-top: 15px;
}

/* -----------------cakes style -------------- */

.cakesIntruduce {
    width: 78%;
    height: 450px;
    margin: 0 auto;
    margin-top: 70px;
    display: flex;
    justify-content: space-around;
}
.cake1,.cake2, .cake3  {
    width: 30%;
    height: auto;
    overflow: hidden;
    cursor: pointer;
}
.cake1 p {
    text-align: center;
    padding-top: 20px;
}
.cake2 p {
    text-align: center;
    padding-top: 20px;
}
.cake3 p {
    text-align: center;
    padding-top: 20px;
}
.cake3 {
    position: relative;
}
.newD {
    width: 100px;
    height: 55px;
    position: absolute;
    background: #D19FBB;
}
.newD p {
    color: white;
    text-align: center;
}


/* -----------line style -------------- */

.lineParent {
    width: 80%;
    margin: 0 auto;
    margin-top: 40px;
    border: 1px solid black;
    position: relative;

}
.lineDiv2 {
    width: 130px;
    height: 30px;
    border: 1px solid black;
    position: absolute;
    margin-left: 470px;
}
.buttonMore {
    width: 100%;
    height: 100%;
    border: none;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
}
.buttonMore:hover {
    background-color: #D19FBB;
    
}
.lineDiv2:hover {
    border: none;
}

/* ---------insta demo photos style ------ */

.globalDivInstaPhotos {
    width: 80%;
    height: 400px;
    margin-top: 90px;
    margin-left: 135px;
    background-color: #dbdbdb;
}
.introducingInsta {
    width: 40%;
    height: 33px;
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
    overflow: hidden;
    font-family: 'Open Sans Condensed', sans-serif;

}
.continerPosts {
    width: 80%;
    height: 300px;
    display: flex;
    margin: 0 auto;
    margin-top: 50px;
    justify-content: space-between;
}
.post1 {
    width: 49%;
    height: auto;
}
.post1 img, .post2 img {
    width: 100%;
    height: 100%;
}
.post2 {
    width: 49%;
    height: auto;
}


/* ----------about services style ---------- */

.aboutServicParent {
    width: 50%;
    margin: 0 auto;
    height: 150px;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}
.orderDiv{
    width: 33%;
    height: auto;
    border-right: 1px solid black;
    text-align: center;
    padding-top: 50px;
}
.orderDiv p, .deliveryDiv p, .presentDiv p  {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
}
.deliveryDiv {
    width: 33%;
    height: auto;
    border-right: 1px solid black;
    text-align: center;
    padding-top: 50px;
}
.presentDiv {
    width: 33%;
    height: auto;
    text-align: center;
    padding-top: 50px;
}

/* -------- footer style -------- */

.footerContainer {
    width: 90%;
    height: 400px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: #f5ebf0;

}
.container1 {
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: space-around;
}
.footerMenuDiv, .footerWotkTimediv, .footerAdressDiv {
    width: 20%;
    height: 150px;
    margin-top: 70px;
}
.footerMenuDiv span {
    font-size: 18px;
    cursor: pointer;
}
.footerSubscribeDiv {
    width: 20%;
    height: 150px;
    margin-top: 70px;
    
}
.footerSubscribeDiv input {
    width: 80%;
    height: 30px;
    border: 1px solid red;
    padding-left: 5px;
}
.footerSubscribeDiv button {
    width: 82%;
    height: 30px;
    border: none;
    background-color: rgba(246, 217, 233, 1)
}